.cart-page {
    .btn {
        background-color: var(--tierd-color);
        border: 0;
    }
    .cart {
        .add {
            .plus,
            .minus {
                font-weight: 400;
                font-size: 11px;
                line-height: 21px;
                border: 1px solid var(--fourthColor);
                color: 1px solid var(--fourthColor);
                height: 23px;
                width: 23px;
                letter-spacing: 0;
                @include media-breakpoint-up(lg) {
                    font-size: 17px;
                    line-height: 26px;
                    letter-spacing: 0.36px;
                    width: 28px;
                    height: 28px;
                }
            }
            .plus {}
            .number {
                font-weight: 400;
                font-size: 14px;
                line-height: 29px;
                letter-spacing: 0.29px;
                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                    line-height: 42px;
                    letter-spacing: 0.42px;
                }
            }
            .minus {}
        }
        .add-cart {
            color: #FFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 27px;
            letter-spacing: 0.25px;
            font-style: italic;
            background-color: var(--tierd-color);
            @include media-breakpoint-up(lg) {
                font-size: 19px;
                line-height: 37px;
                letter-spacing: 0.4px;
            }
        }
        .wishlist {
            >img {
                @include media-breakpoint-up(lg) {
                    width: 24px;
                    height: 21px;
                }
            }
        }
    }
}